# Указываем, что Python файлы являются текстом
*.py text

# Указываем, что файлы миграции являются текстом
*.sql text

# Сжимаем данные, передаваемые через Git
*.json text

# Указываем, что файлы YAML тоже текстовые
*.yaml text
*.yml text

# Указываем, что файлы с документацией являются текстом
*.md text
*.rst text

# Игнорируем статические файлы (необязательно)
*.svg binary
*.png binary
*.jpg binary
*.jpeg binary

# Игнорируем базу данных (если используется SQLite)
*.sqlite3 binary

# Указываем, что файлы окружения .env являются текстовыми и только в локальной разработке
*.env text

# Примеры для поддержки git-лоиальной работы
*.lock eol=lf

# Принуждаем использование LF в текстовых файлах
*.txt text eol=lf
